@use "../../../styles/utilities/_mixins.scss" as mixins;
.addTask_section {
  margin-top: 1.2rem;

  .addTask_loading_section {
    background-color: var(--dark-800);
    border-radius: 4px;
    @include mixins.flex(row, center, center, 0);
    width: 100%;
    padding: 2.4rem;
  }

  .addTask_form {
    display: flex;
    width: 100%;

    .addTask_input {
      border-bottom-left-radius: 4px;
      width: 100%;
      border: 0;

      &::placeholder {
        font-size: 1.4rem;
      }

      &:focus {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .addTask_button {
      background-color: var(--dark-600);
      color: var(--light-100);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1rem;
      font-size: 2rem;
      @include mixins.flex(row, center, center, 0);
    }
  }
}
