.header {
  background-color: var(--dark-900);
  border-bottom: 1px solid var(--dark-700);
  padding: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-left: 1.2rem;
}

.user_username {
  margin-left: auto;
}
