.login_section {
  max-width: 384px;
  margin: auto;
  width: 100%;
  text-align: center;

  .login_heading {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
  }
  .login_paragraph {
    color: var(--light-500);
    margin-bottom: 2.4rem;
  }
}

// Slim screensize e.g. Galaxy Fold screen
@media screen and (max-width: 360px) {
  .login_section {
    .login_heading {
      font-size: 2.1rem;
    }
    .login_paragraph {
      font-size: 1.4rem;
    }
  }
}

// Mobile screensize
@media screen and (max-width: 600px) {
  .login_section {
    .login_heading {
      font-size: 2.3rem;
    }
    .login_paragraph {
      font-size: 1.5rem;
    }
  }
}
