.login_section {
  max-width: 384px;
  margin: auto;
  width: 100%;
  text-align: center;

  .login_heading {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
  }
  .login_paragraph {
    color: var(--light-500);
    margin-bottom: 2.4rem;
  }
}
