.login_section {
  border: 1px solid var(--dark-600);
  border-radius: 4px;
  max-width: 340px;
  margin: auto;
  padding: 3rem;
  width: 100%;

  .login_heading {
    font-size: 2.8rem;
    margin-bottom: 1.6rem;
    text-align: center;
  }
}
